
    /* Main Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.header,
.footer {
    background-color:#1F2937 ;
}

.logo-text{
    color:#F9FAF8;
    font-size: 25px;
    font-weight:bold;
}

.header a,
.header p {

    font-size: 16px;
    color:#F9FAF8;
    text-decoration: none;
}

h1{ 
    font-size: 50px;
    color: #F9FAF8;
    font-weight: bolder;
}