
    /* Main Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.header,
.footer {
    background-color:#1F2937 ;
}

.logo-text{
    color:#F9FAF8;
    font-size: 25px;
    font-weight:bold;
}

.header a,
.header p {

    font-size: 16px;
    color:#F9FAF8;
    text-decoration: none;
}

h1{ 
    font-size: 50px;
    color: #F9FAF8;
    font-weight: bolder;
}

h2{ 
    font-size: 40px;
    color: #1F2937;
    font-weight: bolder;
}

button{
    border-radius: 10px;
    border: none;
    padding:5px;
}
button:hover{
    color: #F9FAF8;
    background-color:teal;
    transition: 0.4s;
}

