
    /* Main or general Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
/* Specific styling */

.hero-container{
    background-color:#1F2937 ;
    color:#F9FAF8;
}

.logo-text{
    color:#F9FAF8;
    font-size: 25px;
    font-weight:bold;
}



.header a,
.header p {

    font-size: 16px;
    color:#F9FAF8;
    text-decoration: none;
}

h1{ 
    font-size: 50px;
    color: #F9FAF8;
    font-weight: bolder;
}

h2{ 
    font-size: 40px;
    color: #1F2937;
    font-weight: bolder;
}

button{
    border-radius: 10px;
    border: none;
    padding:10px;
}
button:hover{
    color: #F9FAF8;
    background-color:teal;
    transition: 0.4s;
}

.Quote-paragraph{
    font-size: 35px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}


/* making divs flex */

.hero-container{
    display:flex;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
}


ul{
    display: flex;
    list-style: none;
    gap:50px;
    
}

.logo-text{
    
}

.hero-text{
    flex:1;
    height:200px;
    padding: 10px;
}


.hero-image {
    flex:2;
    display:flex;
    justify-content: flex-end;
    
}
img{
    max-width: 70%;
    height:auto;
    padding:15px;
}